---
import { Image } from 'astro:assets';

import Layout from '@layouts/BaseLayout.astro';

const meta = {
	title: 'Welcome to  an Astro Starter',
	description: 'The metadescription',
	imageOG: 'generic-social-1200x630.png',
	altOG: 'Alt text for OG image',
};

import Rule1 from '@components/Rule1.astro';
import TextA from '@components/Text.astro';
import image1 from '@images/panda-01.jpg';
---

<Layout metaData={meta}>
	<div class="hero">
		<Image src={image1} alt="Panda" quality={50} class="hero-image" />
	</div>
	<main class="wrapper flow">
		<h1>Hero Image With Scroll Timeline</h1>
		<p>
			<i>Image zooms automatically if the browser does not support scroll-timeline</i>
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero aut magnam laborum assumenda,
			odio, accusamus vero nisi impedit culpa incidunt deserunt, quo dolorem. Soluta accusamus
			natus, culpa iure nemo iste! Lorem ipsum dolor, sit amet consectetur adipisicing elit.
			Eligendi, id expedita! Ullam accusantium nisi quas tenetur cum id cumque vitae odit modi
			veniam. Alias, beatae itaque. Dignissimos ipsum officiis voluptas?
		</p>
		<p>
			Libero aut magnam laborum assumenda, odio, accusamus vero nisi impedit culpa incidunt
			deserunt, quo dolorem. Soluta accusamus natus, culpa iure nemo iste! Lorem ipsum dolor, sit
			amet consectetur adipisicing elit. Eligendi, id expedita! Ullam accusantium nisi quas tenetur
			cum id cumque vitae odit modi veniam. Alias, beatae itaque. Dignissimos ipsum officiis
			voluptas? Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit corporis
			perspiciatis sint illo ex repudiandae possimus eligendi recusandae explicabo at nisi itaque,
			libero vero hic quas numquam vel consectetur consequuntur! Lorem ipsum dolor sit, amet
			consectetur adipsum dolor sit amet consectetur adipisicing elit. Tenetur ad ab mollitia
			aperiam est autem facere laborum vero fuga dolores illum repudiandae esse minus, voluptates
			quam sint quisquam temporibus eveniet?
		</p>
		<p>
			Libero aut magnam laborum assumenda, odio, accusamus vero nisi impedit culpa incidunt
			deserunt, quo dolorem. Soluta accusamus natus, culpa iure nemo iste! Lorem ipsum dolor, sit
			amet consectetur adipisicing elit. Eligendi, id expedita! Ullam accusantium nisi quas tenetur
			cum id cumque vitae odit modi veniam. Alias, beatae itaque. Dignissimos ipsum officiis
			voluptas? Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit corporis
			perspiciatis sint illo ex repudiandae possimus eligendi recusandae explicabo at nisi itaque,
			libero vero hic quas numquam vel consectetur consequuntur! Lorem ipsum dolor sit, amet
			consectetur adipsum dolor sit amet consectetur adipisicing elit. Tenetur ad ab mollitia
			aperiam est autem facere laborum vero fuga dolores illum repudiandae esse minus, voluptates
			quam sint quisquam temporibus eveniet?
		</p>
		<p>
			Libero aut magnam laborum assumenda, odio, accusamus vero nisi impedit culpa incidunt
			deserunt, quo dolorem. Soluta accusamus natus, culpa iure nemo iste! Lorem ipsum dolor, sit
			amet consectetur adipisicing elit. Eligendi, id expedita! Ullam accusantium nisi quas tenetur
			cum id cumque vitae odit modi veniam. Alias, beatae itaque. Dignissimos ipsum officiis
			voluptas? Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit corporis
			perspiciatis sint illo ex repudiandae possimus eligendi recusandae explicabo at nisi itaque,
			libero vero hic quas numquam vel consectetur consequuntur! Lorem ipsum dolor sit, amet
			consectetur adipsum dolor sit amet consectetur adipisicing elit. Tenetur ad ab mollitia
			aperiam est autem facere laborum vero fuga dolores illum repudiandae esse minus, voluptates
			quam sint quisquam temporibus eveniet?
		</p>
	</main>
</Layout>

<style>
	.hero {
		position: sticky;
		top: 100px;
		aspect-ratio: 1.82;
		overflow: hidden;
	}

	.hero-image {
		z-index: 10;
		animation-timeline: scroll(root block); /* Drive animation by root scroll */
		animation: heroScale linear forwards;
		animation-range: 0% 50%; /* Play over the first 50% of the root scroll */
		width: 100%; /* Ensure image fills its container */
		height: 100%; /* Ensure image fills its container */
		object-fit: cover; /* Crop image to fit aspect ratio */
	}

	@keyframes heroScale {
		from {
			scale: 1.2;
		}
		to {
			scale: 1;
		}
	}

	/* Fallback for browsers without scroll-timeline support */
	@supports not (animation-timeline: scroll()) {
		.hero-image {
			animation-timeline: auto; /* Revert to default animation timeline */
			/* Apply a standard animation if scroll-timeline isn't supported */
			animation: heroScale 3s ease-in forwards;
		}
	}

	main {
		position: relative;
		/* Prevent some wierd shit from Saafari */
		transform: translateZ(0);
		z-index: 2;
		margin-top: 15px;
		outline: 15px hsla(37, 18%, 81%, 0.42) solid;
		border: 1px solid var(--stone-1);
		background: var(--stone-2);
		padding: var(--size-4);
		padding-block-start: var(--size-8);
		p {
			margin-block-end: var(--size-2);
		}
	}
</style>
