---
import Link from '@components/page/Link.astro';

// Not using a list, as Google sites don't seem to use it. And being sheep we follow Google

const { pathname } = new URL(Astro.url.pathname, Astro.site);
const links = [
	{ linkText: 'Home', link: '/' },
	{ linkText: 'About', link: '/about/' },
	{ linkText: 'Hero', link: '/hero/' },
	{ linkText: 'Lenis', link: '/lenis/' },
	{ linkText: 'Test', link: '/test/' },

	{ linkText: 'Contact', link: '/' },
];
---

<div class="nav-links">
	{
		links.map((link) => (
			<Link class={pathname == link.link ? 'active--exact' : ''} href={link.link}>
				{link.linkText}
			</Link>
		))
	}
</div>

<style>
	.nav-links {
		a {
			margin-inline: var(--size-1);
			padding: var(--size-1);
			text-decoration: none;
		}
		.active--exact {
			border-radius: var(--radius-2);
			background: var(--stone-8);
			color: var(--stone-1);
		}
	}
</style>
