---
import Nav from "@components/page/HeaderNav.astro";
---

<header class="header">
  <div class="wrapper">
    <h2>Header</h2>
    <Nav />
  </div>
</header>
<style>
  header {
    position: fixed;
    z-index: 1000;
    width: 100%;
  }
  .header {
    margin-block-end: var(--size-fluid-5);
    background: var(--stone-3);
    padding-block: var(--size-fluid-1);
  }
</style>
